@charset "utf-8";

.remark-slide-content.slide-front-page {
    background-color: black;
    background-image: url('../images/logo/logo-black-transparent-200x200.png');
    background-position: 100% 20px;
    background-repeat: no-repeat;
    color: white;
}

.remark-slide-content.slide-front-page h3 {
    width: 850px;
}

.remark-slide-content.slide-front-page a {
    color: #f0da50;
}

.remark-slide-content:not(.no-logo):not(.slide-front-page) {
    background-color: #fff;
    background-image: url('../images/logo/logo-transparent-200x200.png');
    background-position: 100% 20px;
    background-repeat: no-repeat;
}
