@charset "utf-8";

.remark-slide-content.slide-1 {
    background-color: black;
    background-image: url('../images/logo/logo-black-240x240.jpg');
    background-position: 100% 20px;
    background-repeat: no-repeat;
    background-size: initial;
    color: white;
}

.remark-slide-content.slide-1 h3 {
    width: 850px;
}

.remark-slide-content.slide-1 a {
    color: #f0da50;
}
