@charset "utf-8";

.remark-slide-content.slide-invert-colors {
    background-color: #000 !important;
    color: #fff !important;
}

/* -----------------------------------------------------------------------------

.box.invert-colors[
    ...
]

----------------------------------------------------------------------------- */

.invert-colors {
    background-color: #000;
    color: #fff;
}
